acres==0.1.0
bs4~=0.0.2
cairocffi==1.7.1
cairosvg==2.7.1
charset-normalizer==3.4.0
ci-info==0.3.0
click==8.1.7
configobj==5.0.9
configparser==7.1.0
cssselect2==0.7.0
defusedxml==0.7.1
docx==0.2.4
ebooklib==0.18
etelemetry==0.3.1
filelock==3.16.1
fitz==0.0.1.dev2
httplib2==0.22.0
isodate==0.6.1
looseversion==1.3.0
lxml~=5.2.1
networkx==3.4.2
nibabel==5.3.2
nipype==1.9.1
numpy==2.1.3
openai==1.55.3
packaging==24.2
pandas==2.2.3
pathlib==1.0.1
pillow==11.0.0
pip==24.2
prov==2.0.1
puremagic==1.28
pydot==3.0.2
PyMuPDF==1.23.7
pyparsing==3.2.0
pyqt5==5.15.11
pyqt5-qt5==5.15.2
pyqt5-sip==12.15.0
pyqtwebengine==5.15.7
pyqtwebengine-qt5==5.15.2
python-dateutil==2.9.0.post0
python-docx==0.8.11
python-pptx==1.0.2
pytz==2024.2
pyxnat==1.6.2
rdflib==6.3.2
requests==2.32.3
scipy==1.14.1
setuptools==75.1.0
simplejson==3.19.3
six==1.16.0
tinycss2==1.4.0
traits==6.4.3
typing-extensions==4.11.0
tzdata==2024.2
webencodings==0.5.1
wheel==0.44.0
xlsxwriter==3.2.0
beautifulsoup4~=4.12.3
markdown~=3.4.1
selenium~=4.24.0